LWCPrep/force-app/main/default/flows/demo_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>asnScreenValues</name>
        <label>asnScreenValues</label>
        <locationX>665</locationX>
        <locationY>297</locationY>
        <assignmentItems>
            <assignToReference>asnText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asnCheckBox</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>checkBox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asnAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lkAccount.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asnCaseOrigin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>case_origin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asnStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dependentPick.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asnProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dependentPick.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>test</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phone.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCase</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chOriginNone</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
    </choices>
    <dynamicChoiceSets>
        <name>origin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>caseId</name>
        <dataType>String</dataType>
        <expression>&apos;/&apos; + {!newCaseId}</expression>
    </formulas>
    <interviewLabel>demo flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>demo flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createCase</name>
        <label>createCase</label>
        <locationX>673</locationX>
        <locationY>415</locationY>
        <assignRecordIdToReference>newCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>successScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>lkAccount.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>origin</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>errorScreen</name>
        <label>errorScreen</label>
        <locationX>914</locationX>
        <locationY>279</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scrTest</targetReference>
        </connector>
        <fields>
            <name>dtError</name>
            <fieldText>&lt;p&gt;---------  &lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;----------&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dt</name>
            <fieldText>&lt;p&gt;{!test}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrTest</name>
        <label>scrTest</label>
        <locationX>673</locationX>
        <locationY>186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>asnScreenValues</targetReference>
        </connector>
        <fields>
            <name>lkAccount</name>
            <extensionName>c:genericCustomLookupLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>keyFieldAPI</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lookupLabel</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>predefinedId</name>
                <value>
                    <elementReference>asnAccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>asnText</elementReference>
            </defaultValue>
            <fieldText>text</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>multiPick</name>
            <choiceReferences>chOriginNone</choiceReferences>
            <choiceReferences>origin</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>asnMulti</elementReference>
            </defaultValue>
            <fieldText>multiPick</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>test</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dependentPick</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Product__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>asnStatus</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>asnProduct</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>checkBox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>asnCheckBox</elementReference>
            </defaultValue>
            <fieldText>checkBox</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>case_origin</name>
            <choiceReferences>origin</choiceReferences>
            <choiceReferences>chOriginNone</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>asnCaseOrigin</elementReference>
            </defaultValue>
            <fieldText>case origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>successScreen</name>
        <label>successScreen</label>
        <locationX>681</locationX>
        <locationY>525</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>suc</name>
            <fieldText>&lt;p&gt;Click here &lt;a href=&quot;{!caseId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!caseId}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>scrTest</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>asnAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>asnCaseOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>chOriginNone</elementReference>
        </value>
    </variables>
    <variables>
        <name>asnCheckBox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>asnMulti</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>chOriginNone</elementReference>
        </value>
    </variables>
    <variables>
        <name>asnProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>asnStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>asnText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
